<h1>Forget your username or password?</h1>

<form class="Form" action="/retrieve-email" method="post">
    
    <label class="Form__label" for="email">Email Address</label>
    <input class="Form__input" id="email" type="email" name="email" required >

    <button class="Form__submit" type="">Submit</button>
    
    <p role="status" aria-live="polite" hidden></p>
</form>