<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form class="Form" action="./" method="post">
    <label class="Form__label" for="username">User Name</label>
    <input class="Form__input" id="username"type="text" required>

    <label class="Form__label" for="password">Password</label>
    <input class="Form__input" id="password"type="password" pattern="(?!^[0-9]*$)(?!^[a-zA-Z]*$)^([a-zA-Z0-9]{3,})$" required>

    <button class="Form__submit" type="">Submit</button>
    
    <p role="status" aria-live="polite">Error Message</p>
    
    </form>
</body>
</html>